<section id="widget-grid" class="">
	<div class="row">
		<article class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
			<div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
				<header>
					<span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
					<h2>进站车辆数</h2>				
				</header>
				<div>
					<div class="jarviswidget-editbox">
					</div>
					<div class="widget-body no-padding">
						<div id="car-count-chart" class="chart"></div>
					</div>
				</div>
			</div>
  		</article>
        <article class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false">
				<header>
					<span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
					<h2>成本利润占比</h2>
				</header>
				<div>
					<div class="jarviswidget-editbox">
					</div>
					<div class="widget-body no-padding">
						<div id="benifit-rate-chart" class="chart"></div>
					</div>
				</div>
			</div>
  		</article>
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false">
				<header>
					<span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
					<h2>利润</h2>
				</header>
				<div>
					<div class="jarviswidget-editbox">
					</div>
					<div class="widget-body no-padding">
						<div id="benifit-chart" class="chart"></div>
					</div>
				</div>
			</div>
  		</article>
	</div>
</section>
