            <!-- User info -->
			<div class="login-info">
				<span> <!-- User image size is adjusted inside CSS, it should stay as is --> 
					<a href="javascript:void(0);">
						<img src="media/img/avatars/sunny.png" alt="me" class="online" /> 
						<span style="text-transform: none;">
							{{userNameGlobal}} 
						</span>
						<!-- <i class="fa fa-angle-down"></i> -->
					</a> 
				</span>
			</div>
			<!-- end user info -->
			<!-- NAVIGATION : This navigation is also responsive
			To make this navigation dynamic please make sure to link the node
			(the reference to the nav > ul) after page load. Or the navigation
			will not initialize.
			-->
			<navigation>
				<nav:item data-view="/overview" ng-show="Right.overview" data-icon="fa fa-lg fa-fw fa-home" title="概览"/>
				<nav:group data-icon="fa fa-lg fa-fw fa-wrench" ng-show="Right.acc" title="配件">
					<nav:item data-view="/accSearch" ng-show="Right.accSearch" title="配件查询"/>
					<nav:item data-view="/accManage" ng-show="Right.accManage" title="配件管理"/>
<!-- 					<nav:item data-view="/smartui" title="AccBuy" />
					<nav:item data-view="/smartui" title="AccSell" /> -->
				</nav:group>
				<nav:group data-icon="fa fa-lg fa-fw fa-car" ng-show="Right.car" title="车辆">
					<nav:item data-view="/carFix" ng-show="Right.carFix" title="车辆维修"/>
					<nav:item data-view="/carInfo" ng-show="Right.carInfo" title="车辆信息"/>
				</nav:group>
				<nav:group data-icon="fa fa-lg fa-fw fa-table" ng-show="Right.data" title="数据">
					<nav:item data-view="/finance" ng-show="Right.finance" title="财务"/>
					<nav:item data-view="/employee" ng-show="Right.finance" title="员工"/>
					<nav:item data-view="/guarantee" ng-show="Right.finance" title="三包"/>
					<nav:item data-view="/accUsage" ng-show="Right.accUsage" title="配件用量"/>
					<nav:item data-view="/port" ng-show="Right.port" title="导入导出"/>
				</nav:group>
                <nav:group data-icon="fa fa-lg fa-fw fa-dashboard" ng-show="Right.report" title="报表">
					<nav:item data-view="/dashboard" ng-show="Right.dashboard" title="总览"/>
				</nav:group>
				<nav:item data-view="/userManage" ng-show="Right.userManage" data-icon="fa fa-lg fa-fw fa-user" title="用户"/>
<!--
				<nav:group data-icon="fa fa-lg fa-fw fa-car" ng-show="Right.car" title="测试">
					<nav:item data-view="/test" data-icon="fa fa-lg fa-fw fa-gear" title="t1"/>
					<nav:item data-view="/test1" data-icon="fa fa-lg fa-fw fa-gear" title="t2"/>
				</nav:group>
-->
			</navigation>
			<span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>
